* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background: #0a0a0a;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  background: #111;
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  width: 300px;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  border-radius: 10px;
  border: none;
  outline: none;
}

button {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  border: none;
  background: #4cff4c;
  font-weight: bold;
  cursor: pointer;
}
